# Combining and Exporting Data

## The following points are included in the script:

### . Import the Dataframe

### . Check the Output of dataframe

### . merge and Combined

### . Conform the Results

### . Export the file

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

# Import the dataframes

In [2]:
path = r"C:\Users\bhimc\Documents\Instacart Basket Analysis (Career Foundry Rekha)"

In [3]:
#Import df_prods dataframe
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_cleaned.csv'), index_col = False)

In [4]:
#Import orders_products combined dataframe
df_ords_prods_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

## Q 4. Check the shape of the imported dataframe

In [5]:
# Check the (size) of df_ords_prods_combined dataframe
df_ords_prods_combined.shape

(32434489, 13)

In [6]:
# Check the size (rows and column) of df_prods
df_prods.shape

(49672, 6)

In [7]:
# Check the output of ords_prods_combined Dataframe
df_ords_prods_combined.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [8]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [9]:
# Drop 'Unnamed:0' column from df_prods 
df_prods = df_prods.drop(columns = ['Unnamed: 0'])

In [10]:
# Drop 'Unnamed: 0' column from df_ords_prods_combined
df_ords_prods_combined = df_ords_prods_combined.drop(columns = ['Unnamed: 0', 'Unnamed: 0.1', '_merge'])

In [11]:
# check the out put of df_prods Dataframe
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [12]:
# Check the output of df_ords-prods_combined dataframe
df_ords_prods_combined.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,prior,1,2,8,NaN,196,1,0
1,2539329,1,prior,1,2,8,NaN,14084,2,0
2,2539329,1,prior,1,2,8,NaN,12427,3,0
3,2539329,1,prior,1,2,8,NaN,26088,4,0
4,2539329,1,prior,1,2,8,NaN,26405,5,0

# Q 5 suitable way to combine the orders_products_combined dataframe with  products data set.

In [13]:
#Merging the ords_prods_combined df with the df_prods via the product_id column
df_ords_prods_merged = df_ords_prods_combined.merge(df_prods, on = 'product_id', indicator = True)

# Q 6 Confirm the results of the merge using the merge flag.

In [15]:
#Checking of the output of df_ords_prods_merged dataframe
df_ords_prods_merged.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [16]:
# Checking the frequency in the _merge column
df_ords_prods_merged['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [17]:
# Cheecking the size(rows and column) of df_ords_prods_merged dataframe
df_ords_prods_merged.shape

(32404859, 15)

# Q 7 Export the newly created dataframe as ords_prods_merge

In [18]:
# Export orders_prods_merged file to pkl format
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))